body{
    font-family: system-ui;
    background: rgb(206, 235, 225);
    color: rgb(9, 44, 33);
    text-align: center;
}

#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    image-orientation: from-image;
    background-image: url(/src/assets/homeBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

@font-face {
    font-family: Monserrat;
    src: url("/src/assets/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: MonserratItalic;
    src: url("/src/assets/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 40%;
    margin-left: 40%;
}